.marginRight10 {
    margin-right: 10px;
}
.marginTop20 {
    margin-top: 20px;
}
.floatLeft {
    float: left;
}
.center {
    text-align: center;
}
.alertWrapper {
    position: fixed;
    right: 0;
    top: 60px;
    width: 320px;
}